<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="http://loaclhost:8080/freeBicycle/Public/bootstrap/css/bootstrap.min.css">
		<script type="text/javascript" src="http://localhost:8080/freeBicycle/Public/bootstrap/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="http://localhost:8080/freeBicycle/Public/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			
		</script>
	</head>
	<body>
		<div class="container">
			<table>
				<tr><th><input type="checkbox" name=nums id=nums></th><th>故事主题</th><th>故事链接</th><th>发布时间</th><th>发布平台</th></tr>
			</table>
		</div>
	</body>
</html>